{ "repositories" : [
    { "type": "github",
      "token": "<github token>",
      "directory": "<github>",
      "owners": ["<owner1>", "<owner2>"]},
    { "type": "bitbucket",
      "token": "<bitbucket app password>",
      "directory": "<bitbucket>",
      "user": "<bitbucket username>",
      "workspace": "<bitbucket workspace>"}
],
 "repeat": "1440"
}
